.App {
    text-align: center;
    box-sizing: border-box;
}
body {
	background-image: url('https://i.imgur.com/tAgIpFC.png');
	font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
a {
	color: white;
}
button {
	border: 5px solid green;
}
.backButton a {
    text-decoration: none;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40px;
}
.menudiv .hidden {
    display: none;
}
.menudiv a {
    text-decoration: none;
    color: #1B9BEA;
    padding: 10% 0;
}
.navLink {
    color: #1B9BEA;
    text-decoration: none;
}
.checkIcon {
    color: #0dcc0d;
    font-size: 1.3rem;
}
.xIcon {
    color: red;
    font-size: 1.3rem;
    display: none;
}
.hidden {
    display: none;
}