.App {
	text-align: center;
}
body {
	background-image: url('https://i.imgur.com/tAgIpFC.png');
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
a {
	color: white;
}
button {
	border: 5px solid green;
}
.backButton a {
	text-decoration: none;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 40px;
}
